# This workflow will do a clean install of node dependencies, build the source code and run tests

name: Run unit tests

on: push

permissions: {}

jobs:
  build-and-test:
    permissions:
      contents: read  # for actions/checkout to fetch code
    name: Build and test
    runs-on: ubuntu-latest

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '20'
          cache: yarn
      - run: yarn install --immutable
      - run: yarn build
      - run: yarn lint
      - run: yarn test
